

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class=" text-center">
    <div class="panel-heading text-center">
      <h3>Regisztr치ci칩</h3>
    </div>

    <div class="panel-body">

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <br /><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <br /><%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <br /><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

    </div>

    <div class="actions text-center">
        <h3><%= f.submit   'Regisztr치ci칩', class: 'btn btn-default btn-success' %></h3>
    </div>
  </div>




<% end %>
<div class="actions text-center">
<%= render "devise/shared/links" %>
</div>
