<p id="notice"><%= notice %></p>

<p>
  <strong>Név:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Szervező:</strong>
  <%= @program.owner %>
</p>

<p>
  <strong>Dátum:</strong>
  <%= @program.date %>
</p>

<p>
  <strong>Tartalom:</strong>
  <%= @program.content %>
</p>

<p>
  <strong>Döntés:</strong>
  <%= @program.decision %>
</p>

<%= link_to 'Átír', edit_program_path(@program) %> |
<%= link_to 'Vissza', programs_path %>
