<p id="notice"><%= notice %></p>

<h1>Kérvények</h1>

<table>
  <thead>
    <tr>
      <th>Kérvényező</th>
      <th>Dátum</th>
      <th>Tartalom</th>
      <th>Döntés</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.owner %></td>
        <td><%= request.date %></td>
        <td><%= request.content %></td>
        <td><%= request.decision %></td>
        <td class="no-print"><%= link_to 'Olvas', request %></td>
        <td class="no-print"><%= link_to 'Átír', edit_request_path(request) %></td>
        <td class="no-print"><%= link_to 'Töröl', request, method: :delete, data: { confirm: 'Biztos törlöd?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új Kérvény', new_request_path,  class: 'btn btn-default btn-info no-print' %>
