<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @request.owner %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @request.content %>
</p>

<p>
  <strong>Decision:</strong>
  <%= @request.decision %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
