<p id="notice"><%= notice %></p>

<p>
  <strong>Kérvényező:</strong>
  <%= @request.owner %>
</p>

<p>
  <strong>Dátum:</strong>
  <%= @request.date %>
</p>

<p>
  <strong>Tartalom:</strong>
  <%= @request.content %>
</p>

<p>
  <strong>Döntés:</strong>
  <%= @request.decision %>
</p>

<%= link_to 'Átír', edit_request_path(@request) %> |
<%= link_to 'Vissza', requests_path %>
